.custom-hover > tbody > tr:not(.detail-view):hover td {
    background-color:  #F1E88A !important;
    cursor: pointer;
}
.navbar-inverse {
    background-color: #4B1D5A;
    color: #8ACE88;
}

thead {
    background-color: #FFFFFF;

}
body {
    background-color: #F0EAF5;
    #background-image: url("linen.png");
    font-family: 'Lato', sans-serif;
}

.well {
    background-color: #455F51;
}

.table {
    background-color: rgba(229, 239, 229, 0.96);
}

.status-well {
    background-color:#FBEBB1;
}
