.custom-hover > tbody > tr:not(.detail-view):hover td {
    background-color:  #F1E88A !important;
    cursor: pointer;
}
.navbar-inverse {
    background-color: #3E3A19;
    color: #8ACE88;
}

thead {
    background-color: #8ACE88;

}
body {
    background-image: url("linen.png");
}

.well {
    background-color: #615E46;
}

.table {
    background-color: rgba(229, 239, 229, 0.96);
}

.status-well {
    background-color:#C5BD5C;
}
